@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: url('Images/background.jpg');
    padding: 100px 0;
}

.container {
    width: 800px;
    min-height: 800px;
    border: 10px solid #ffffff;
    margin: 0 auto;
    background: #ffffff;
}
