@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: url('Images/background.jpg');
    padding: 100px 0;
}

.container {
    width: 800px;
    min-height: 800px;
    border: 10px solid #ffffff;
    margin: 0 auto;
    background: #ffffff;
}

.header {
    display: flex;
    height: 150px;
}

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-size: 30px;
    margin-right: 10px;
}

.userpic {
    display: flex;
    width: 20%;
    height: 100%;
    background: url('https://greenkeymexico.org/image/faqs/ico-establecimiento.jpg') no-repeat center center / cover;
}

.nav ul {
    dis
}
